@{
  Layout = "_Layout";
}

@using Bakery.ViewModels

@model LoginViewModel

<h1>Welcome Back!</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="LOG IN" class="button" />
}