@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h1>ADD DOCTOR TO: @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" class="btn-block" value="SAVE" />
}