@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h1>DELETE THIS PATIENT?</h1>
<h4>@Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
  <input type="submit" class="btn-block" value="CONFIRM DELETION" />
}