<div id="header">
  <p>Bakery</p>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        @Html.ActionLink("Flavors", "Index", "Flavors", null, new { @class="nav-item nav-link" } )
        @Html.ActionLink("Treats", "Index", "Treats", null, new { @class="nav-item nav-link" } )
        <a class="nav-item nav-link" href="#">About</a>
      </div>
    </div>
  </nav>
</div>
